<div>
  <div>
    <%= form_for(@kitten) do |f| %>
      <br>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :cuteness %>
      <%= f.number_field :cuteness, class: 'form-control' %><br>

      <%= f.label :softness %>
      <%= f.number_field :softness, class: 'form-control' %><br>

      <%= f.submit "Create kitten", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
